<!doctype html>
<html>
<head>
    <title>Barbara Oak's Soldier Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>
  <div class="row">
    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <!-- Profile information section -->
        <h3><span class="fa fa-user"></span> Local</h3>
        <% if (user.local.email) { %>
          <p>
            <strong>Name:</strong> <%= user._name %>
            <strong>ID</strong>: <%= user._id %><br>
            <strong>E-mail</strong>: <%= user.local.email %><br>
            <strong>Saved words</strong>: <%= words.length %>
          </p>
          <a href="/unlink/local" class="btn btn-default">Unlink</a>
        <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
        <% } %>
      </div>
      <!-- Word generating buttons section -->
      <section class="profBttns">
        <a href="/unlink/local" class="btn randSav">Generate random saved word</a>
        <a href="/unlink/local" class="btn savLis">Generate saved words list</a>
        <a href="/unlink/local" class="btn ranWord">Generate random word</a>
        <a href="/">Go to words List</a>
      </section>
    </div>
    <!--Hidden section that contains generated words -->
    <div class="col-sm-6">
      <h3>Messages</h3>
      <!-- Where word list goes-->
      <ul class="words">
      <% for(var i=0; i<words.length; i++) {%>
        <li class="word">
          <span><%= words[i].name %></span>
          <span><%= words[i].def %></span>
          <span><%= words[i].thumbDown %></span>
          <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
        </li>
      <% } %>
      </ul>
      <!--Where random word is generated  -->
      <section class="randWard">
        <h2>Random Word</h2>
        <span><%= words[i].name %></span>
        <span><%= words[i].def %></span>
        <span><%= words[i].thumbDown %></span>
      </section>
</div>
<script src="main.js"></script>
</body>
</html>
